{{#if comments.length}}
  <h2>Comments:</h2>
  <ul>
    {{#each comments}}
      <li>
        <div class="comment-details">
          <p>{{this.dataValues.comment_text}}</p>
          <p>Comment by {{this.user.dataValues.name}} on {{format_date this.dataValues.created_at}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No comments available.</p>
{{/if}}
